
executor.name = 'local'

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

conda {
    enabled = true
    channels = ['bioconda', 'conda-forge', 'defaults']
}

cleanup = true

process {
    withName: "FASTQC" {
        conda = "bioconda::fastqc=0.12.1"
    }

    withName: "TRIMGALORE" {
        conda = "bioconda::trim-galore=0.6.10"
    }

    withName: "HISAT2" {
        container = "quay.io/biocontainers/hisat2:2.2.1--h503566f_8"
        conda = "conda_envs.yaml"
    }

    withName: "QUALIMAP" {
        container = "quay.io/biocontainers/qualimap:2.3--hdfd78af_0"
    }

    withName: "FEATURECOUNTS" {
        conda = "bioconda::subread=2.1.1"
    }
}